* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.navbar {
    justify-content: center !important;
    background-color: transparent !important;
}

.navlogo {
    width: 25%;
    text-align: center;
}

.navlogo img {
    width: 186.35px;
    height: 36px;
}

.navlist {
    display: flex;
    width: 55%;
    text-align: -webkit-center;
    align-items: center;

}

.navlist ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
    align-items: center;
    text-align: center;
}

.emp_post_job {
    width: 25%;
}

.color_LGrey {
    color: lightgray;
}

.color_LPurple {
    color: #4d3bdb !important;
}

/* first section */
.first-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

}

.first-sec-center {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-sec-h1 {
    text-align: center;
}

.first-sec-h1 h1 {

    font-style: normal;
    font-weight: 800;
    font-size: 80px !important;
    line-height: 100px;
    text-align: center;
    letter-spacing: -.02em;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.first-sec-h1 p {
    margin: 16px 0px 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}

.searchbox {
    margin-top: 20px;
    width: 60%;
    position: relative;
    display: inline-flex;
    border: 2px solid rgba(189, 189, 189, 0.5);
    ;
    padding: 0px 14px;
    height: 35px;
}

.searchbox input {
    width: 100%;
    border: 0px;
}

#search-input:focus {
    border: 0px;
    outline: none;
}

.findjobbtn {
    margin-top: 20px;
    overflow: hidden;
}

.findjobbtn button {
    width: 150px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    background-color: #522fd4;
    color: #fff;
}

.popular-keywords {
    text-align: center;
}

.popular-keywords h6 {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -.02em;
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 16px 0px 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.keywordbtns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px 5px;
    margin-top: 16px;
}

.btn-keyword {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(104, 81, 255, 0.5);
    color: rgb(104, 81, 255);
    border-radius: 6px;
    font-weight: 800;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    line-height: 16px;
    padding: 7px 10px;
    text-transform: capitalize !important;
}

.first-sec-bgimage {
    width: 100%;
}

.first-sec-bgimage img {
    /* height: 300px; */
    width: 100%;
    display: block;
}

/* second section */

.second-sec {
    width: 100%;
    margin-top: 100px;
    /* margin-bottom: 160px; */
}

.second-sec_head_P {
    text-align: center;
}

.second-sec_head_P h3 {
    font-weight: 600;
    font-size: 48px;
    color: #3f3f3f;
}

.second-sec_head_P span {
    color: #6851ff
}

.second-sec_head_P p {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(49, 49, 49);
    font-size: 20px;
}

.maisecbox {
    width: 100%;
    display: flex;
    justify-content: center;

}

.second-sec_boxes {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
    width: 80%;
    gap: 10px;
    flex-wrap: wrap;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 270px;
    background: var(--white);
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 10px 56px #431ccc14;
    padding: 30px 26px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all .6s ease;
}

.box:hover {
    box-shadow: #0000003d 0 3px 8px;
}

.second-sec_boxes .box {
    width: 24%;

}

.box i {
    color: rgb(104, 81, 255);
    width: 10px;
}

.box h1 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(104, 81, 255);
    font-size: 18px;
    font-weight: 600;
}

.box p {
    color: rgb(63, 63, 63);
}

/* third */


.third-sec {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-sec-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

.third-sec_boxes {
    /* background-image: url(./assets/emoji1.webp); */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    /* background-size: contain; */
}
.third-sec_boxes img {
    width: 100%;
}


.third-sec_head_P {
    text-align: center;
    width: 85%;
}

.third-sec_head_P h3 {
    font-weight: 600;
    font-size: 48px;
    color: #3f3f3f;
}

.third-sec_head_P span {
    color: #6851ff
}

.third-sec_head_P p {
    margin: 0px auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(49, 49, 49);
    font-size: 20px;
    width: 83%;
}

/* fourth */
.fourth-sec {
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-sec-head {
    width: 85%;
}

/* fifth */
.fifth-sec {
    width: 100%;
    margin-top: 50px;
}

.fifth-sec-head {
    text-align: center;
}

.fifth-sec-head h3 {
    font-weight: 600;
    font-size: 48px;
    color: #3f3f3f;
}

.fifth-sec-head span {
    color: #6851ff
}

.fifth-boxes {
    margin-top: 50px;
    display: flex;
    /* width: 80%; */
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

}

.fifth-box-body-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fifth-box-body {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    min-height: 250px;
    background: #ffffff;
    box-shadow: 0 6px 12px #0000001a;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all .2s;
    cursor: pointer;

}

.fifth-box-body-p p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    white-space: nowrap;
    /* Prevents text from wrapping */
    overflow: hidden;
    /* Hides overflow text */
    text-overflow: ellipsis;
    /* Adds ellipsis (...) for overflow */
    width: 200px;
    /* Set the width of the element */
    display: inline-block;
}

.fifth-box-body-p span {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(77, 59, 219);
    font-weight: 700;
}

.fifth-box-body-img {
    width: 95px;
    height: 30px;
}

.fifth-box-body-img img {
    width: 100%;
    height: 100%;
}

.fifth-box-body-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
    width: 100%;
}

.fifth-box-body-footer-end {
    display: flex;
    justify-content: space-between;
}

.fifth-box-body-footer-end p {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #616165;
}


.sixth-sec {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sixth-sec-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 90%;
    /* height: auto; */
}

.sixth-sec-body {
    width: 41.6667%;
}

.sixth-sec-body img {
    width: 100%;
    /* height: 236.516px */
}

.sixth-sec-body h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -.02em;
    color: #3f3f3f;
}

.sixth-sec-body span {
    color: #6851ff;
}

.sixth-between {
    rotate: none;
    max-width: 16.6667%;

}

.sixth-between-line {
    width: 2.6px;
    height: 140px;
    background: rgb(104, 81, 255);
}

.sixth-btn {
    margin-top: 20px;
}

.sixth-btn button {
    border-radius: 20px;
    padding: 5px 15px;

    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    color: rgb(104, 81, 255);
    font-weight: 750;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(104, 81, 255, 0.5);
    border-image: initial;
    border-radius: 20px;
    gap: 10px;
    white-space: nowrap;

}

.seven-sec {
    /* position: relative; */
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    width: 100%;
    padding: 30px 0 0px;
}

.seven-sec-body {
    /* max-width: 1200px; */
    /* padding-left: 24px; */
    /* padding-right: 24px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: 350px; */

    padding: 30px;
}

.seven-sec-main {
    /* padding-left: 132px; */
    /* width: 36%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.seven-sec-1 {
    /* padding-left: 132px; */
    /* width: 36%; */
    width: 40%;
}
.seven-sec-1-p p {
    margin: 10px 0px 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
}


.seven-right {
    /* padding-left: 40px; */
    margin-top: 30px;
}

.seven-right ul {
    padding-left: 0 !important;
}

.seven-right ul li {
    list-style-type: none;
    color: rgb(255, 255, 255);

}

.seven-right ul li:nth-child(1) {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: auto;
    font-size: 16px;
}

.seven-right ul li:nth-child(2) {
    margin: 20px 0;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.seven-right ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.follow {
    margin-top: 50px;
    width: 40%;
}

.follow p {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
}

.follow-icons {
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-start;
    gap:20px;
    margin-top: 20px;
    width: 40%;
    color: rgb(255, 255, 255);
}

.sevenfooter {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    gap: 10px;
}

.sevenfooter a {
    color: rgb(255, 255, 255);

}

/* src/style.css */
.color_LPurple {
  color: #6a1b9a;
}

.navbar-brand img {
  height: 40px;
}

footer {
  background-color: #111;
  color: white;
  padding: 2rem 1rem;
}

footer a {
  color: #fff;
  margin: 0 0.5rem;
}

footer a:hover {
  text-decoration: underline;
}


/* media qureies */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
/* Smaller than 576px (portrait phones) */
/* Smaller than 576px (portrait phones) */
@media (max-width: 575px) {
    .navbar {
        justify-content: space-between !important;
    }

    .second-sec_boxes .box,
    .fifth-box-body {
        width: 90%;
    }

    .btn-keyword {
        width: 48%;
    }

    .sixth-sec-body {
        width: 100%;
    }
    .sixth-between-line{
        display: none;
    }
    .seven-sec-1 {

        width: 100%;
    }
}

/* Medium devices (up to 768px, like tablets) */
@media (min-width: 576px) and (max-width: 768px) {
    .navbar {
        justify-content: space-between !important;
    }

    .second-sec_boxes .box,
    .fifth-box-body {
        width: 90%;
    }

    .btn-keyword {
        width: 48%;
    }
    .sixth-sec-body {
        width: 100%;
    }
    .sixth-between-line{
        display: none;
    }
    .seven-sec-1 {

        width: 100%;
    }

}

/* Large devices (up to 992px, like desktops) */
@media (min-width: 769px) and (max-width: 992px) {
    .navbar {
        justify-content: space-between !important;
    }

    .second-sec_boxes .box,
    .fifth-box-body {
        width: 40%;
    }
  
}

/* X-Large devices (1200px and up, large desktops) */
@media (min-width: 993px) {

    .second-sec_boxes .box,
    .fifth-box-body {
        width: 40%;
    }

}

/* X-Large devices (1200px and up, large desktops) */
@media (min-width: 1200px) {
    .second-sec_boxes .box {
        width: 24%;
    }

    .fifth-box-body {
        width: 25%;
    }
}